.projects-page {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-top: 3px solid var(--dark-color);
  border-bottom: 3px solid var(--dark-color);
  box-shadow: var(--soft-shadow);
  padding: 1rem;
}

.sample-projects-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: 20px;
  border: 3px solid var(--dark-color);
  margin: 1rem 0;
}

.sample-project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  cursor: pointer;
}

.sample-project-title h1 {
  font-size: var(--large-font);
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 0;
}

.sample-project-title .icon {
  margin-right: 1rem;
  height: 20px;
}

.card-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  height: 0;
  opacity: 0;
  transform: scaleY(0);
}

.card-row.expanded {
  height: auto;
  opacity: 1;
  transform: scaleY(1);
}

.custom-modal {
  overflow: hidden !important;
}

.custom-modal .modal-dialog {
  max-width: 80%;
  min-height: 100vh !important;
}

.custom-modal .modal-content {
  height: 90vh;
}

.custom-modal .modal-body {
  overflow-y: auto;
}

.modal-footer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (max-width: 576px) {
  .custom-modal .modal-dialog {
    max-width: 95%;
  }
}
