.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

figure {
  width: 250px;
  height: 300px;
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: transform 0.4s ease;
}

figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}

figure figcaption {
  display: grid;
  align-items: flex-end; /* Changed 'end' to 'flex-end' */
  font-family: sans-serif;
  color: #0000;
  padding: 0.75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
  text-align: left;
}

.caption h1 {
  font-size: var(--large-font);
  font-weight: bolder;
  margin: 0;
}

.subtitle {
  font-size: var(--medium-font);
  font-weight: normal;
}

.click-more {
  font-size: var(--small-font);
  font-weight: bold;
}

figure:hover figcaption {
  --_i: 0%;
}

figure:hover img {
  transform: scale(1.2);
}

figure:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

.card-container.clicked figure {
  transform: translateY(5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.initial-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  justify-content: flex-end;
}

.initial-caption h1 {
  font-size: var(--large-font);
  font-weight: bolder;
  color: var(--dark-color);
}

.initial-caption p {
  font-size: var(--small-font);
  font-weight: bold;
  color: var(--dark-color);
}
