.common-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 200px;
  background-color: #333;
}

.common-button:hover {
  background-color: #555;
}

.blue-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 200px;
  background-color: #007bff;
}

.blue-button:hover {
  background-color: #004793;
}
