.navbar {
  background-color: white;
  padding: 10px;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: var(--soft-shadow), box-shadow 0.3s;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: none;
}

.navbar-brand {
  font-size: var(--large-font);
  font-weight: bold;
}

.nav-link {
  margin: 0 8px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: var(--medium-font) !important;
  font-weight: 500 !important;
  color: black;
}

.nav-link:hover {
  color: #007bff !important;
  font-weight: bold !important;
}

.text-center {
  text-align: center;
}

.gravatar-container {
  display: flex;
  align-items: center;
  height: 10px;
  width: 10px;
}
